* {
  box-sizing: border-box;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;

  height: 225px;
  margin: 0 auto;
}

.imgbanner {
  background: black;
  object-fit: cover;
  width: 90%;
  height: 225px;
  left: 100px;
  border-radius: 25px;
  filter: brightness(0.7);
}

.texteBanner {
  display: flex;
  align-items: flex-end;
  position: absolute;
  color: white;
  font-family: "Montserrat", Times, serif;
  font-size: 48px;
  font-weight: 500;
}

@media only screen and (max-width: 880px) {
  .texteBanner {
    font-size: 38px;
  }
}

@media only screen and (max-width: 680px) {
  .texteBanner {
    font-size: 32px;
  }
}

@media only screen and (max-width: 550px) {
  .texteBanner {
    font-size: 28px;
  }
}

@media only screen and (max-width: 450px) {
  .texteBanner {
    font-size: 22px;
  }
}

@media only screen and (max-width: 380px) {
  .texteBanner {
    font-size: 18px;
  }
}
