.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  padding-left: 50px;
  padding-right: 50px;
  height: 225px;
  margin: 0 auto;
}

.imgbanner {
  background: black;
  object-fit: cover;
  width: 100%;
  height: 225px;
  left: 100px;
  border-radius: 25px;
  filter: brightness(0.7);
}

.texteBanner {
  display: flex;
  align-items: flex-end;
  position: absolute;
  color: white;
  font-family: "Montserrat", Times, serif;
  font-size: 48px;
  font-weight: 500;
}

@media only screen and (max-width: 680px) {
  .texteBanner {
    font-size: 38px;
  }
}

@media only screen and (max-width: 550px) {
  .texteBanner {
    font-size: 25px;
  }
}

@media only screen and (max-width: 470px) {
  .texteBanner {
    font-size: 20px;
  }
}

@media only screen and (max-width: 400px) {
  .texteBanner {
    font-size: 14px;
  }
}
