.container-title-DescriptifResidence {
  display: flex;
  justify-content: space-between;

  margin: 2rem 2rem;
}

.title-DescriptifResidence,
.CollapseDescriptionResidence {
  width: 50%;
  margin-left: 2rem;
  margin-right: 2rem;
}

@media only screen and (max-width: 735px) {
  .container-title-DescriptifResidence {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  .title-DescriptifResidence {
    width: 90%;
  }
}
