.container-title-DescriptifResidence {
  display: flex;
  justify-content: space-between;

  margin: 2rem 2rem;
}

.title-DescriptifResidence,
.CollapseDescriptionResidence {
  width: 50%;
  margin-left: 2rem;
  margin-right: 2rem;
}
