.residenceContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 4rem;
}

.details {
  display: flex;
  flex-direction: column;
}

.residenceTitle {
  color: #ff6060;
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
}

.location {
  font-size: 1rem;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}

.residenceTags {
  color: white;
  width: 100%;
  display: flex;
  gap: 1rem;
  margin: 1rem 0;
}
.tag {
  background: #ff6060;
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

.rating {
  display: flex;
  flex-direction: column;
}

.stars {
  background-color: red;
}

.host {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.hostProfil {
  border-radius: 50%;
  height: 64px;
  width: 64px;
}

.hostName {
  width: 93px;
  width: 52px;
  font-size: 18px;
  color: #ff6060;
  font-family: "Montserrat", sans-serif;
}

.hostRating {
  margin: 1rem 0;
}

@media only screen and (max-width: 1155px) {
  .residenceContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .details {
    justify-content: center;
    align-items: center;
  }
  .residenceTags {
    justify-content: center;
    align-items: center;
  }
  .residenceTitle {
    text-align: center;
  }
}

@media only screen and (max-width: 735px) {
  .residenceTags {
    flex-direction: column;
    width: 40%;
  }
}
